body {
    font-family: Oxygen, Helvetica, arial, sans-serif;
}

#header h1 {
    font-variant: small-caps;
}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#header #info {
    width: 50%;
    margin: auto;
    text-align: left;
}

.interrupt {
    color: red;
}

#info span {
    text-transform: capitalize;
    font-size: small;
}

ul {
    margin-top: 0;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    list-style-type: none;
}

li {
    margin-left: 5px;
}

del {
    color: #7c7c7c;
}

#navbar li a {
    text-decoration: none;
    color: #4c4c4c;
}

#navbar li:before {
    content: "» ";
}

#navbar li a:hover {
    color: #000;
}

/* #content { */
/*     margin-left: auto; */
/*     margin-right: auto; */
/* } */

#navbar p {
    margin-bottom: 2px;
}

#navbar {
    float: left;
    position: relative;
    text-align: left;
    color: #2c2c2c;
    background: rgba(0, 255, 255, 0);
    height: 100%;
    display: inline-block;
}

#navbar:hover {
    background: rgba(255, 255, 255, 20);
    z-index: 9999;
}

/* Rickshaw CSS */
.chart_container {
    float: right;
    position: relative;
    margin: 10px;
    display: inline-block;
}

.chart {
    display: inline-block;
    float: left;
}

.legend {
    float: right;
    margin-left: 15px;
}

.legend .name  {
    font-weight: bold;
    font-variant: small-caps;
}

.y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
