body {
    font-family: Oxygen, Helvetica, arial, sans-serif;
}

#header {
    width: 100%;
}

#header #status {
    font-variant: small-caps;
}

#header #sticky {
    width: 100%;
    min-height: 25px;

    border-bottom: solid #ccc 1px;
}

#header #info {
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    border: solid #ccc 1px;
    border-top: none;

    padding: 10px;
    margin-borrom: 20px;
    text-align: left;
}

.down:before {
    content: '\2193';
}

.up:before {
    content: '\2191';
}

.interrupt {
    color: red;
}

#info span {
    font-size: small;
}

#info .title {
    margin-left: 20px;
    font-size: small;
    font-weight: bold;
}

#info .title span {
    font-weight: normal;
}

#gpus {
    font-size: small;
}

#content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}


/* Rickshaw CSS */
.chart_container {
    margin: 10px;
    display: inline-block;
}

.chart {
    display: inline-block;
}

.legend {
    float: right;
    margin-left: 15px;
}

.legend .name  {
    font-weight: bold;
    font-variant: small-caps;
}

.y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
